extends layout

block content
	.ui.one.column.doubling.stackable.grid.container
		.column
			form.ui.form(action='/feed', method='POST')
				.field
					span#last
						|	last time you feed was 
						span#period= period
						|	days ago
					button.ui.inverted.green.button(type='submit') Feed
