extends layout

block content
	.ui.one.column.doubling.stackable.grid.container
		.column
			form.ui.form(action='/feed')
				.field
					label#last Last feed
					button.ui.inverted.green.button(type='submit') Feed
